* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
    text-shadow: #706c6c 1px 1px;
}

.App {
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #667eea, #764ba2, #ff758c);
}